<div class="row m-2">
  <div class="col-md-6 mt-2">
    <input type="text" class="form-control border-success" placeholder="{{ 'products.list.search' | translate}}">
  </div>
</div>

<hr>

<div class="row m-2">
  <div class="col-md-3 mb-4" *ngFor="let product of products">
    <div class="card border-primary h-100" style="max-width: 20rem">
      <img src="{{product.image}}" style="aspect-ratio: 1;" />
      <div class="card-body">
        <p class="card-text">{{product.title}} </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6">
            <p><b>{{ 'products.list.btn.add.to.Cart' | translate }} {{ product.price | currency: 'CAD' }}</b></p>
          </div>
          <div class="col-md-6">
            <button class="btn btn-sm btn-warning float-end">
              {{ 'products.list.btn.add.to.Cart' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
