<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">{{ 'products.nav.logo.text' | translate }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">{{ 'carts.nav.products' | translate }}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button *ngIf="showLangSwitchFor('en')" type="button" (click)="switchLanguage('en')" class="btn btn-primary btn-lg">
              {{ 'products.nav.lang.en' | translate }}
            </button>
          </li>
          <li class="nav-item">
            <button *ngIf="showLangSwitchFor('fr')" type="button" (click)="switchLanguage('fr')" class="btn btn-primary btn-lg">
              {{ 'products.nav.lang.fr' | translate }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  